
.main-div-box{
  width: 90%;
}
.main-div-box .box{
    width: calc( 430px - 30px);
    height: calc( 300px - 30px);
    background-image: url('../../../../static/images/TWAICEified_Street_3-1024x767.webp');
}
.main-div-box .box .icon{
    position: absolute;
    top: 60px;
    left: 100px;
    width: 45%;
    height: 50%;
    /* background-image: url('../../../../static/images/carousel_3.webp');
 */
 background-color: #407bdb;
    transition: 0.5s;
    z-index: 1;
    opacity: 0.6;
}
.main-div-box .box:hover .icon{
    top: 20px;
    left: calc( 50% - 40px);
    width: 80px;
    height: 80px;

    border-radius: 50%;
}
.main-div-box .box .icon .box-img1
{
    top: 30%;
    left: 30%;
    position: absolute;
}

.main-div-box .box:hover .icon .box-img1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: azure;
}
.main-div-box .box:hover .icon .box-img1
{
    font-size: 40px;
}
.main-div-box .box .content{
    position: absolute;
    top: 100%;
    height: calc(100% - 100%);
    height: 100%;
    text-align: center ;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;

}
.main-div-box .box:hover .content{
    top: 100px;
    opacity: 1;
}
.border-primary{
    --tw-border-opacity: 1;
    border-color: #04ac4e;
    color: rgb(57, 125, 184);

}

.main-div-box{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
   
}
@media screen and (max-width:1034px) {
   
    .main-div-box{
        display: flex;
        flex-direction: column;
        /* width: 70%; */
        margin: auto;
        /* margin-top: 20px; */
        text-align: start;
    }
    .main-div-box .box{
        width: calc( 630px - 30px);
        height: calc( 300px - 30px);
        background-image: url('../../../../static/images/TWAICEified_Street_3-1024x767.webp');
    }
    .main-div-box .box .icon{
        left: 134px;
        width: 58%;
      
    }
    .main-div-box .box .icon .box-img1
    {

        left: 44%;
        
    }


    /* .btn1{
        display: flex;
        text-align: center;
       justify-content: center;
       line-height: 35px;
       width: 130px;
      
       margin: 0;
       padding: 0;
    }
    .btn2{
        display: flex;
        text-align: center;
       justify-content: center;
       line-height: 35px;
       width: 130px;
       margin-right: 5px;
       margin-left: 10px;
       margin: 0;
       padding: 0;
    }
    .header-content h1{
        color: #0070c0 ;
        font-size: medium;
        font-weight: normal;
    }
    .header-p{
        font-size: 14px;
    } */

}@media screen and (max-width:640px) {
   
    .main-div-box{
        display: flex;
        flex-direction: column;
        /* width: 70%; */
        margin: auto;
        /* margin-top: 20px; */
        text-align: start;
    }
    .main-div-box .box{
        width: calc( 50px - 30px);
        height: calc( 400px - 30px);
        background-image: url('../../../../static/images/TWAICEified_Street_3-1024x767.webp');
    }
    .main-div-box .box .icon{
        left: 134px;
        width: 58%;
      
    }
    .main-div-box .box .icon .box-img1
    {

        left: 44%;
        
    }
}
 
