
.btn1{
    background-color: #0070c0 ;
}
.buttondiv{
    display:  flex;
    flex-direction: row;
    margin-right: 10px;}

.header-content h1{
    color: #0070c0 ;
    font-size: xx-large;
    font-weight: bold;
}
.header-p{
    font-size: 20px;
}
@media (max-width: 450px) {
    .homepage-heading{
margin-bottom: 0;
    }  
    .homepage-heading h1{
margin-top: 120px;
    }
}


