
.btn1{
    background-color: #0070c0 ;
}
.buttondiv{
    display:  flex;
    flex-direction: row;
    margin-right: 10px;}

.header-content h1{
    color: #0070c0 ;
    font-size: xx-large;
    font-weight: bold;
}
.header-p{
    font-size: 20px;
}


@media (max-width: 450px) {
    .homepage-heading{
margin-bottom: 0;
    }  
   
}
@media (max-width:1300px) {
    .home-cover-gradient{
        height: 46rem;
    }
}
@media (max-width:1300px) {
    .home-cover-gradient{
        height: 36rem;
    }
}
@media (max-width:1020px) {
    .home-cover-gradient{
        height: 30rem;
    }
}
@media (max-width:800px) {
    .home-cover-gradient{
        height: 25rem;
    }
}
@media (max-width:700px) {
    .home-cover-gradient{
        height: 23rem;
    }
}
@media (max-width: 600px) {
    .home-cover-gradient{
        height: 20rem;
    }
}
@media (max-width:470px) {
    .home-cover-gradient{
        height: 15rem;
    }
}

