
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}
.primary-border{
 
  border-color: #0070c0;
}
.heading-color{
  color: #0070c0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
