
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: 'Orbitron', sans-serif; */
}
.primary-border{
 
  border-color: #04ac4e ;
}
.heading-color{
  color: #04ac4e ;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
