.navbar {
     background-color: #f8f9fa;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
   
  
  }
  .navbar-logo {
   width: 30%;
  }
  .navbar-logo img{
    cursor: pointer;
    width: 80%;
    height: auto;
    padding: 20px;
  }
  .nav-menu {
    float: right;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    width: 70%;
    justify-content: center;
    margin-right: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .nav-links {
    color: black;
    width: 145px;
    height: 30px;
    text-decoration: none;
    margin: 1.5rem 0rem;
    padding-left: 0;
    float: right;
  }
  .nav-links:hover {
    background-color: #04ac4e ;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  .nav-linksknw {
    color: black;
    width: 200px;
    height: 30px;
    text-decoration: none;
    margin: 1.5rem 0rem;
    padding-left: 0;
    float: right;
  }
  .nav-linksknw:hover {
    background-color: #04ac4e ;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  .fa-bars {
    color: #04ac4e ;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 1024px) {
    .NavbarItems {
      position: relative;
   
    }
    .navbar {

  
     display: flex;
  justify-content: left;
     align-items: center;
     width: 100%;
   
   }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* height: 90vh; */
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #f8f9fa;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #04ac4e ;
      border-radius: 0;
    }
    .nav-linksknw {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-linksknw:hover {
      background-color: #04ac4e ;
      border-radius: 0;
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #04ac4e ;
      font-size: 2rem;
      width: 50%;
    }
    .navbar-logo img{
      width: 90%;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #04ac4e ;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #04ac4e ;
      transition: 250ms;
    }
  
   
  }
  @media screen and (max-width: 640px)
  {
    .navbar-logo img {
     
      width: 100% ;
    
    }
  }
 
  
  
  @media screen and (min-width: 2000px)
  {
    .navbar-logo img {
    
      width: 60% ;
   padding: 30px;
    }
  } 
   
  @media screen and (min-width: 2500px)
  {
    .navbar-logo img {
    
      width: 50% ;
   padding: 40px;
    }
  } 
  @media screen and (max-width: 640px)
  {
    .navbar-logo img {
    
 
   padding: 5px;
    }
  }